* {
  margin: 0;
  padding: 0;
}
.container {
  background-color: rgb(255, 103, 15);
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  align-items: center;
}
.wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  list-style: none;
}
.home {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
.container2 {
  display: flex;
  justify-content:space-around;
  margin-left: 20px;
  margin-right: 20px;
}
.layar {
  display: flex;
  justify-content:flex-start;
  padding-top: 20px;
  align-items: center;
  text-align: justify;
  font-weight: 600;
  font-size: x-large;
  color: rgb(253, 79, 4);
}
.collect {
  font-weight: 900px;
  font-size: x-large;
}
#hero {
  background:linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url("./bg-hero.jpg");
  background-position: center;
  background-size: cover;

}
.tekshero {
  width: 50%;
}
.gambar {
  width: 30%;
}
.gambar img {
  width: 100%;
}
button {
  color: rgb(235, 235, 235);
  background-color: rgb(245, 86, 0);
  border: none;
  border-radius: 5px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 11px;
  padding-right: 11px;
  font-size: xx-small;
}
.kata {
  display: flex;
  justify-content: center;
  font-size: xx-large;
}
.google {
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  justify-self:center;
  height:40px;
  width: 500px;
}
