.navigasi {
  margin: 0;
  padding: 0;
}
.container-navigasi {
  font-family: sans-serif;
  font-size: smaller;
  width: 900px
}
.logo {
  background-color: rgb(9, 28, 241);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.list-navigasi {
  background-color: rgb(13, 13, 13);
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  padding: 2px;
  font-family: monospace;
  font-size: small;
  white-space: nowrap;
}
.button-register {
  background-color: rgb(75, 252, 5);
}
.user {
  background-color: rgb(139, 137, 137);
  display: flex;
  justify-content: space-between;
}
.icon-menu {
  display: none;
}

@media only screen and (max-width: 745px) {
  .icon-menu {
    display: block;
  }
  .list-navigasi {
    display: none;
  }
}
