.card {
  width: 90%;
  height: 250px;
  background-color: rgb(255, 255, 255);
  border: 3px solid rgba(3, 3, 3, 0.957);
  margin-top: 10px;
}
img {
  width: 100px;
  height: 100px;
}
img {
  width: 100px;
  height: 100px;
}
